
.one{
    width: 100px;
    height: 100px;
    background-color: #eee;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    border: 2px solid black;
    position: relative;
    display: inline-block;
    margin: 20px;

    counter-increment: sequence;

    box-shadow: 6px 6px 0px 0px #2196F3, -6px -6px 0px 0px #E91E63;

}


.one::before{

    content: "Element";
    position: absolute;
    right: 25px;
    top: 50%;
    transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);

}

.one::after{
    content: counter(sequence);
    position: absolute;
    right: 40px;
    top: -15px;
    width: 20px;
    height: 20px;
    padding: 2px 2px 4px;
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


/****************Assignment2****************/

.assignment2{

    width: 100px;
    height: 100px;
    background-color: #efefef;
    margin: 30px auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    border-top-left-radius: 10px;
    border-bottom-right-radius:10px ;

    box-shadow: 1px 1px 7px 0px #707070 inset, -1px -1px 7px 0px #707070 inset;

}

/****************Assignment3****************/

.parent{ /*Outside box*/

    width: 520px;
    margin: 20px auto;
    position: relative;
    font-family: sans-serif;

}

.cost{  /*Inner boxes*/

    width: 220px;
    height: 270px;
    background-color: #eee;
    display: inline-block;
    position: relative;
    margin: 0 18px;

}

.cost::before{/*Basicpro*/
    
    content:attr(data-text);
    color: white;
    background-color: #03A9F4;
    width: 160px;
    height: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 30px;
    top: 10px;
    font-size: 20px;
    
}

.cost::after{/*Circles*/
    
    content: attr(data-cost);
    width: 170px;
    height: 170px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #ddd;
    position: absolute;
    right: 25px;
    top: 80px;
    line-height: 170px;
    font-size: 30px;
    text-align: center;

}

.parent::before{/*line*/
    
    content: "";
    height: 100%;
    border-left: 1px solid #03A9F4;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

}

.parent::after{/*Or*/

    content: "Or";
    background-color: #03A9F4;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    text-align: center;
    line-height: 22px;
    font-size: 10px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);

}
